{
    "ip": "0.0.0.0",
    "port": 9000,
    "cache_time": 300,
    "cache_file": "/tmp/cache.json",
    "cookie":" place your cookie here. if use SCF , place your cookie in env 'COOKIE' ",
    "game_biz": "hk4e_cn",
    "is_SCF": false,
    "bh3_sign": false
}